<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.daniel.archessm.infrastructures.repository.finance.dao.AccountPOMapper">
  <resultMap id="BaseResultMap" type="indi.daniel.archessm.infrastructures.repository.finance.po.AccountPO">
    <id column="account_id" jdbcType="BIGINT" property="id" />
    <result column="account_balance" jdbcType="BIGINT" property="balance" />
    <result column="account_create_by" jdbcType="BIGINT" property="createBy" />
    <result column="account_create_date" jdbcType="BIGINT" property="createDate" />
    <result column="account_last_update_by" jdbcType="BIGINT" property="lastUpdateBy" />
    <result column="account_last_update_date" jdbcType="BIGINT" property="lastUpdateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    account.id as account_id, account.balance as account_balance, account.create_by as account_create_by, 
    account.create_date as account_create_date, account.last_update_by as account_last_update_by, 
    account.last_update_date as account_last_update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="indi.daniel.archessm.domain.finance.model.account.AccountID" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_finance_account account
    where account.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="indi.daniel.archessm.domain.finance.model.account.AccountID">
    delete from t_finance_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="indi.daniel.archessm.infrastructures.repository.finance.po.AccountPO" useGeneratedKeys="true">
    insert into t_finance_account (balance, create_by, create_date, 
      last_update_by, last_update_date)
    values (#{balance,jdbcType=BIGINT}, #{createBy,jdbcType=BIGINT}, #{createDate,jdbcType=BIGINT}, 
      #{lastUpdateBy,jdbcType=BIGINT}, #{lastUpdateDate,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="indi.daniel.archessm.infrastructures.repository.finance.po.AccountPO" useGeneratedKeys="true">
    insert into t_finance_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="balance != null">
        balance,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateDate != null">
        last_update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="balance != null">
        #{balance,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="indi.daniel.archessm.infrastructures.repository.finance.po.AccountPO">
    update t_finance_account
    <set>
      <if test="balance != null">
        balance = #{balance,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateDate != null">
        last_update_date = #{lastUpdateDate,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="indi.daniel.archessm.infrastructures.repository.finance.po.AccountPO">
    update t_finance_account
    set balance = #{balance,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=BIGINT},
      last_update_by = #{lastUpdateBy,jdbcType=BIGINT},
      last_update_date = #{lastUpdateDate,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>