<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.daniel.archessm.infrastructures.repository.finance.dao.TransferHistoryPOMapper">
  <resultMap id="BaseResultMap" type="indi.daniel.archessm.infrastructures.repository.finance.po.TransferHistoryPO">
    <id column="transfer_his_id" jdbcType="BIGINT" property="id" />
    <result column="transfer_his_from_account" jdbcType="BIGINT" property="fromAccount" />
    <result column="transfer_his_to_account" jdbcType="BIGINT" property="toAccount" />
    <result column="transfer_his_amount" jdbcType="BIGINT" property="amount" />
    <result column="transfer_his_create_by" jdbcType="BIGINT" property="createBy" />
    <result column="transfer_his_create_date" jdbcType="BIGINT" property="createDate" />
    <result column="transfer_his_last_update_by" jdbcType="BIGINT" property="lastUpdateBy" />
    <result column="transfer_his_last_update_date" jdbcType="BIGINT" property="lastUpdateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    transfer_his.id as transfer_his_id, transfer_his.from_account as transfer_his_from_account, 
    transfer_his.to_account as transfer_his_to_account, transfer_his.amount as transfer_his_amount, 
    transfer_his.create_by as transfer_his_create_by, transfer_his.create_date as transfer_his_create_date, 
    transfer_his.last_update_by as transfer_his_last_update_by, transfer_his.last_update_date as transfer_his_last_update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_finance_transfer_history transfer_his
    where transfer_his.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_finance_transfer_history
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="indi.daniel.archessm.infrastructures.repository.finance.po.TransferHistoryPO" useGeneratedKeys="true">
    insert into t_finance_transfer_history (from_account, to_account, amount, 
      create_by, create_date, last_update_by, 
      last_update_date)
    values (#{fromAccount,jdbcType=BIGINT}, #{toAccount,jdbcType=BIGINT}, #{amount,jdbcType=BIGINT}, 
      #{createBy,jdbcType=BIGINT}, #{createDate,jdbcType=BIGINT}, #{lastUpdateBy,jdbcType=BIGINT}, 
      #{lastUpdateDate,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="indi.daniel.archessm.infrastructures.repository.finance.po.TransferHistoryPO" useGeneratedKeys="true">
    insert into t_finance_transfer_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fromAccount != null">
        from_account,
      </if>
      <if test="toAccount != null">
        to_account,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateDate != null">
        last_update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fromAccount != null">
        #{fromAccount,jdbcType=BIGINT},
      </if>
      <if test="toAccount != null">
        #{toAccount,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="indi.daniel.archessm.infrastructures.repository.finance.po.TransferHistoryPO">
    update t_finance_transfer_history
    <set>
      <if test="fromAccount != null">
        from_account = #{fromAccount,jdbcType=BIGINT},
      </if>
      <if test="toAccount != null">
        to_account = #{toAccount,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateDate != null">
        last_update_date = #{lastUpdateDate,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="indi.daniel.archessm.infrastructures.repository.finance.po.TransferHistoryPO">
    update t_finance_transfer_history
    set from_account = #{fromAccount,jdbcType=BIGINT},
      to_account = #{toAccount,jdbcType=BIGINT},
      amount = #{amount,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=BIGINT},
      last_update_by = #{lastUpdateBy,jdbcType=BIGINT},
      last_update_date = #{lastUpdateDate,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>