<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.daniel.archessm.infrastructures.repository.dao.ResourcePOMapper">
  <resultMap id="BaseResultMap" type="indi.daniel.archessm.infrastructures.repository.po.ResourcePO">
    <id column="resource_id" jdbcType="BIGINT" property="id" />
    <result column="resource_application_id" jdbcType="BIGINT" property="applicationId" />
    <result column="resource_uri" jdbcType="VARCHAR" property="uri" />
    <result column="resource_description" jdbcType="VARCHAR" property="description" />
    <result column="resource_create_by" jdbcType="BIGINT" property="createBy" />
    <result column="resource_create_date" jdbcType="BIGINT" property="createDate" />
    <result column="resource_last_update_by" jdbcType="BIGINT" property="lastUpdateBy" />
    <result column="resource_last_update_date" jdbcType="BIGINT" property="lastUpdateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    resource.id as resource_id, resource.application_id as resource_application_id, resource.uri as resource_uri, 
    resource.description as resource_description, resource.create_by as resource_create_by, 
    resource.create_date as resource_create_date, resource.last_update_by as resource_last_update_by, 
    resource.last_update_date as resource_last_update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_resource resource
    where resource.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_resource
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="indi.daniel.archessm.infrastructures.repository.po.ResourcePO" useGeneratedKeys="true">
    insert into t_resource (application_id, uri, description, 
      create_by, create_date, last_update_by, 
      last_update_date)
    values (#{applicationId,jdbcType=BIGINT}, #{uri,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=BIGINT}, #{createDate,jdbcType=BIGINT}, #{lastUpdateBy,jdbcType=BIGINT}, 
      #{lastUpdateDate,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="indi.daniel.archessm.infrastructures.repository.po.ResourcePO" useGeneratedKeys="true">
    insert into t_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applicationId != null">
        application_id,
      </if>
      <if test="uri != null">
        uri,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateDate != null">
        last_update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applicationId != null">
        #{applicationId,jdbcType=BIGINT},
      </if>
      <if test="uri != null">
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="indi.daniel.archessm.infrastructures.repository.po.ResourcePO">
    update t_resource
    <set>
      <if test="applicationId != null">
        application_id = #{applicationId,jdbcType=BIGINT},
      </if>
      <if test="uri != null">
        uri = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateDate != null">
        last_update_date = #{lastUpdateDate,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="indi.daniel.archessm.infrastructures.repository.po.ResourcePO">
    update t_resource
    set application_id = #{applicationId,jdbcType=BIGINT},
      uri = #{uri,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=BIGINT},
      last_update_by = #{lastUpdateBy,jdbcType=BIGINT},
      last_update_date = #{lastUpdateDate,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>